.menu {
  padding: 10px;
  display: flex;
  justify-content: space-around;
}

.list {
  display: flex;
  flex-flow: column wrap;
  height: 80vh;
}

.item {
  margin-bottom: 5px;
}

.body {
  padding: 20px;
  height: 100%;
}